
// Reboot

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.w-h-30 {
    height: 30px !important;
    width: 30px !important;
}
.w-h-40 {
    height: 40px !important;
    width: 40px !important;
}
.w-h-50 {
    height: 50px !important;
    width: 50px !important;
}
.w-h-60 {
    height: 60px !important;
    width: 60px !important;
}
.w-h-70 {
    height: 70px !important;
    width: 70px !important;
}
.w-h-80 {
    height: 80px !important;
    width: 80px !important;
}
.w-h-90 {
    height: 90px !important;
    width: 90px !important;
}
.w-h-100 {
    height: 100px !important;
    width: 100px !important;
}

.border-width-1 {
    border-width: 1px !important;
}
.border-width-2 {
    border-width: 2px !important;
}
.border-width-3 {
    border-width: 3px !important;
}
.border-width-4 {
    border-width: 4px !important;
}
.border-width-5 {
    border-width: 5px !important;
}
.border-width-6 {
    border-width: 6px !important;
}
.border-width-7 {
    border-width: 7px !important;
}
.border-width-8 {
    border-width: 8px !important;
}
.border-width-9 {
    border-width: 9px !important;
}
.border-width-10 {
    border-width: 10px !important;
}

.spinner-background {
    @include display-center();
    @include circle-style();

    background-color: $gray-200;
}
.spinner-background-full {
    @include display-center();
    @include circle-style();

    background-color: $gray-200;
    height: 60px;
    width: 60px;
}
.spinner-background-rounded {
    @include display-center();
    @include circle-style();

    background-color: $gray-200;
    border-radius: var(--border-radius-mmmd);
    height: 60px;
    width: 60px;
}

.spinner-background-none {
    background-color: transparent !important;
}

.rotate {
    @include animation-linear(circle-1, 0.8s);
}
.rotateY-360 {
    @include animation-linear(r1, 0.8s);
}
.rotateY-180 {
    @include animation-linear(r2, 0.8s);
}
.rotateY-90 {
    @include animation-linear(r3, 0.8s);
}
.rotateX-360 {
    @include animation-linear(r4, 0.8s);
}
.rotateX-180 {
    @include animation-linear(r5, 0.8s);
}
.rotateX-90 {
    @include animation-linear(r6, 0.8s);
}

@keyframes r1 {
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes r2 {
    100% {
        transform: rotateY(180deg);
    }
}
@keyframes r3 {
    100% {
        transform: rotateY(90deg);
    }
}
@keyframes r4 {
    100% {
        transform: rotateX(360deg);
    }
}
@keyframes r5 {
    100% {
        transform: rotateX(180deg);
    }
}
@keyframes r6 {
    100% {
        transform: rotateX(90deg);
    }
}
